#controls-area {
  position: absolute;
  top: 50px;
  left: 50px;
  display: flex;
  flex-wrap: wrap;
}

.controls-container {
  width: 100%;
  display: flex;
  margin: 5px 0px;
}

.button {
  color: white;
  font-family: sans-serif;
  background-color: #005aff;
  padding: 10px 30px;
  margin: 0px 5px;
  border-radius: 3px;
}

.button:hover {
  cursor: pointer;
}

.control-button {
  display: inline-block;
}

.new-game-button {
  margin: auto;
}

#points {
  display: block;
  margin: 15px 5px;
  font-family: sans-serif;
  font-weight: bold;
}

#game-area {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 900px;
  height: 600px;
  background-color: rgb(219,233,255);
  z-index: 1;
}

#game-over-layer {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 900px;
  height: 600px;
  background-color: rgba(219,233,255,0.85);
  z-index: 2;
}

#game-over-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 35px;
  font-family: sans-serif;
}

#new-game-container {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
}

.snake-block {
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: blue;
}

.food-block {
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: red;
}
